.banner {
    height: 100vh;

    &.banner--style {
        background: url('https://res.cloudinary.com/doxk0udlk/image/upload/v1618177660/410119501Website-Design-Background_eumant.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $mainColor;
    }

}