.banner {
    height: 100vh;

    &.banner--style {
        background: url('/images/410119501Website-Design-Background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $mainColor;
    }

}